@page "/appointments"

@attribute [Authorize(HealthCarePermissions.Appointments.Default)]

@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.AppointmentTypes
@using Pusula.Training.HealthCare.Blazor.Components.Dialogs.Patients
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Patients
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Position = Syncfusion.Blazor.Popups.Position
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@inherits HealthCareComponentBase

@inject IAppointmentsAppService AppointmentsAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IDoctorAppService DoctorsAppService
@inject IAppointmentTypesAppService AppointmentTypeAppService
@inject IPatientAppService PatientAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

<PageHeader Title="Randevu İşlemleri" BreadcrumbItems="BreadcrumbItems" />

<div class="row g-0">
<div class="col-lg-3" style="padding-top:15px">        

    <div class="col-md-12">
        <label class="example-label">Departman Seçin</label>
        <SfDropDownList TItem="DepartmentDto" TValue="Guid" PopupHeight="230px" Placeholder="e.g. Departman Seç" @bind-Value="@SelectedDepartmentId" DataSource="@Departments" AllowFiltering>
            <DropDownListEvents TItem="DepartmentDto" TValue="Guid" ValueChange="DepartmentSelect" />
            <DropDownListFieldSettings Text="Name" Value="Id" />
            </SfDropDownList>
    </div>        
    <br />
    <div class="col-md-12">
        <label class="example-label">Doktor Seçin</label>
        <SfDropDownList TItem="DoctorDto" TValue="Guid" PopupHeight="230px" Placeholder="e.g. Doktor Seç" @bind-Value="@SelectedDoctorId" DataSource="@Doctors">
            <DropDownListEvents TItem="DoctorDto" TValue="Guid" ValueChange="DoctorSelect" />
            <DropDownListFieldSettings Text="FullName" Value="Id" />
        </SfDropDownList>
    </div>
        <br />

        <div class="col-md-12">
            <label class="example-label">Hasta Ekleme İşlemleri</label>
            <br />
            <div class="submit-btn">
                <SfButton type="submit" IsPrimary CssClass="e-outline" @onclick="OpenCreatePatientDialogAsync">Hasta Ekle</SfButton>
            </div>
        </div>
        <br />

        <div class="col-md-12">
        @if(LastPatient != null) {
            <SfCard>

                <CardBody>
                    @LastPatient.FullName
                </CardBody>
            </SfCard>
        }
    </div>
</div>         

<div class="col-lg-9 control-section">
    @if(valueSelected) {
            <SfSchedule AllowDragAndDrop="true" MinDate="@MinDate" TValue="AppointmentDto" Width="100%" Height="650px" ShowQuickInfo="false" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView" StartHour="09:00" EndHour="18:00" ShowWeekend="false">
                <ScheduleEvents TValue="AppointmentDto" OnActionBegin="OnActionBegin" EventRendered="OnEventRendered" />

                <ScheduleTimeScale Enable="@GridLine" Interval="@IntervalValue" SlotCount=1></ScheduleTimeScale>

                <ScheduleEventSettings DataSource="@AppointmentLists" />                  

        <ScheduleTemplates Context="Schedule">
            
            <EditorHeaderTemplate>
                        @if (((Schedule as AppointmentDto).Id) == default)
                {
                    <div>Randevu Oluştur</div>
                }
                else
                {
                    <div>Randevu Güncelle</div>
                }
            </EditorHeaderTemplate>
            <EditorTemplate>
                        @if (((Schedule as AppointmentDto).Id) == default)
                        {
                            <EditForm EditContext="@AppointmentCreateContext">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <table class="custom-event-editor" width="100%" cellpadding="5">

                                <tbody>
                                    <tr>
                                        <td class="e-textlabel">Hasta Seçin</td>
                                        <td colspan="4">

                                            <SfAutoComplete TValue="Guid" TItem="PatientDto" @bind-Value="@AppointmentCreateDto.PatientId" @ref="@refAutoComplatePatient">
                                                <AutoCompleteFieldSettings Value="Id" Text="FullName" />
                                                <AutoCompleteEvents TItem="PatientDto" TValue="Guid" Filtering="GetPatientFilter"></AutoCompleteEvents>
                                            </SfAutoComplete>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="e-textlabel">Randevu Türü</td>
                                        <td colspan="4">

                                            <SfDropDownList TValue="Guid" TItem="AppointmentTypeDto" DataSource="@AppointmentTypes" Placeholder="Randevu türü seç" @bind-Value="@AppointmentCreateDto.AppointmentTypeId">
                                                <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel">Statü</td>
                                        <td class="dropdown" colspan="4">
                                            <SfDropDownList TValue="EnumStatus" TItem="string" DataSource="@Enum.GetNames(typeof(EnumStatus))" Placeholder="Randevu statüsü seç" @bind-Value="@AppointmentCreateDto.Status">
                                                <DropDownListFieldSettings Text="string" Value="EnumStatus"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </td>
                                    </tr>
                                    <tr>
                                    @{
                                        AppointmentCreateDto.StartTime = (Schedule as AppointmentDto).StartTime;
                                        AppointmentCreateDto.EndTime = (Schedule as AppointmentDto).EndTime;
                                    }
                                        <td class="e-textlabel">Başlangıç Saati</td>
                                        <td colspan="4">
                                            <SfDateTimePicker @bind-Value="@AppointmentCreateDto.StartTime" Step="15"></SfDateTimePicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel">Bitiş Saati</td>
                                        <td colspan="4">
                                            <SfDateTimePicker @bind-Value="@AppointmentCreateDto.EndTime" Step="15"></SfDateTimePicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel">Not</td>
                                        <td colspan="4">
                                            <SfTextBox Multiline="true" @bind-Value="@AppointmentCreateDto.Notes"></SfTextBox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </EditForm>
                        }
                        else
                        {
                            var dto = (Schedule as AppointmentDto);
                            AppointmentUpdateDto.StartTime = dto.StartTime;
                            AppointmentUpdateDto.EndTime = dto.EndTime;
                            AppointmentUpdateDto.Status = dto.Status;
                            AppointmentUpdateDto.Notes = dto.Notes;
                            AppointmentUpdateDto.AppointmentTypeId =dto.AppointmentTypeId;
                            AppointmentUpdateDto.DepartmentId =dto.DepartmentId;
                            AppointmentUpdateDto.PatientId=dto.PatientId;
                            AppointmentUpdateDto.DoctorId = dto.DoctorId;
                                            

                            <EditForm EditContext="@AppointmentUpdateContext">
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <table class="custom-event-editor" width="100%" cellpadding="5">

                                    <tbody>
                                        <tr>
                                            <td class="e-textlabel">Hasta Seçin</td>
                                            <td colspan="4">

                                                <SfAutoComplete TValue="Guid" TItem="PatientDto" @bind-Value="@AppointmentUpdateDto.PatientId" @ref="@refAutoComplatePatient">
                                                    <AutoCompleteFieldSettings Value="Id" Text="FullName" />
                                                    <AutoCompleteEvents TItem="PatientDto" TValue="Guid" Filtering="GetPatientFilter"></AutoCompleteEvents>
                                                </SfAutoComplete>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="e-textlabel">Randevu Türü</td>
                                            <td colspan="4">

                                                <SfDropDownList TValue="Guid" TItem="AppointmentTypeDto" DataSource="@AppointmentTypes" Placeholder="Randevu türü seç" @bind-Value="@AppointmentUpdateDto.AppointmentTypeId">
                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-textlabel">Statü</td>
                                            <td class="dropdown" colspan="4">
                                                <SfDropDownList TValue="EnumStatus" TItem="string" DataSource="@Enum.GetNames(typeof(EnumStatus))" Placeholder="Randevu statüsü seç" @bind-Value="@AppointmentUpdateDto.Status">
                                                    <DropDownListFieldSettings Text="string" Value="EnumStatus"></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            
                                            <td class="e-textlabel">Başlangıç Saati</td>
                                            <td colspan="4">
                                                <SfDateTimePicker @bind-Value="@AppointmentUpdateDto.StartTime" Step="15"></SfDateTimePicker>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-textlabel">Bitiş Saati</td>
                                            <td colspan="4">
                                                <SfDateTimePicker @bind-Value="@AppointmentUpdateDto.EndTime" Step="15"></SfDateTimePicker>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="e-textlabel">Not</td>
                                            <td colspan="4">
                                                <SfTextBox Multiline="true" @bind-Value="@AppointmentUpdateDto.Notes"></SfTextBox>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </EditForm>
                        }

            </EditorTemplate>
        </ScheduleTemplates> 
         <ScheduleViews>
            <ScheduleView Option="View.Day"></ScheduleView>
             <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.Month"></ScheduleView>
            <ScheduleView Option="View.Agenda"></ScheduleView>
        </ScheduleViews>
    </SfSchedule> 
    }
</div>
</div>

@* ************************* CREATE MODAL ************************* *@
<PatientCreateDialog @ref="@CreatePatientDialog" PatientCreatedAsync="CreatePatientAsync" />

<style>
   
    .col-lg-3 {
        background: linear-gradient(135deg, #7FC8FF 0%, #4E90FF 100%); 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .col-lg-9 {
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .example-label {
        font-weight: bold;
        font-size: 14px;
        color: #555; 
        margin-bottom: 5px;
        display: block;
    }

    .sf-dropdownlist {
        border: 1px solid #4E90FF; 
        border-radius: 6px;
    }

    .submit-btn SfButton {
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .submit-btn SfButton:hover {
            background-color: #45a049;
        }

    .sf-datetimepicker {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 5px;
    }

    .e-disable-slot {
        pointer-events: none;
        background-color: #f5f5f5;
        color: #999;
    }

    .weekend-cell {
        background-color: #ffe6e6;
        color: #d9534f;
        pointer-events: none;
    }

    .block-events .e-work-cells {
        background-color: #fdfdff;
        border: 1px solid #e3e3e3;
        transition: all 0.2s ease;
    }

        .block-events .e-work-cells:hover {
            background-color: #eaf8ff;
            border-color: #007bff;
        }

    .schedule-template div {
        background: #007bff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        display: inline-block;
    }

    .custom-event-editor td {
        padding: 10px;
    }

    .custom-event-editor .e-textlabel {
        font-weight: bold;
        color: #333;
    }

    .PageHeader {
        background: linear-gradient(90deg, #FF9A9E 0%, #FAD0C4 100%);
        color: white;
        padding: 15px 20px;
        border-radius: 6px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

</style>