@page "/appointments"

@attribute [Authorize(HealthCarePermissions.Appointments.Default)]

@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.AppointmentTypes
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.AppointmentTypes
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Patients
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Position = Syncfusion.Blazor.Popups.Position
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@inherits HealthCareComponentBase

@inject IAppointmentsAppService AppointmentsAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IDoctorAppService DoctorsAppService
@inject IAppointmentTypesAppService AppointmentTypeAppService
@inject IPatientAppService PatientAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

<PageHeader Title="Randevu" BreadcrumbItems="BreadcrumbItems" />

<div class="row g-0">
<div class="col-lg-3" style="padding-top:15px">        

    <div class="col-md-12">
        <label class="example-label">Departman Seçin</label>
        <SfDropDownList TItem="DepartmentDto" TValue="Guid" PopupHeight="230px" Placeholder="e.g. Departman Seç" @bind-Value="@SelectedDepartmentId" DataSource="@Departments">
            <DropDownListEvents TItem="DepartmentDto" TValue="Guid" ValueChange="DepartmentSelect" />
            <DropDownListFieldSettings Text="Name" Value="Id" />
            </SfDropDownList>
    </div>
    <br />
    <div class="col-md-12">
        <label class="example-label">Doktor Seçin</label>
        <SfDropDownList TItem="DoctorDto" TValue="Guid" PopupHeight="230px" Placeholder="e.g. Doktor Seç" @bind-Value="@SelectedDoctorId" DataSource="@Doctors">
            <DropDownListEvents TItem="DoctorDto" TValue="Guid" ValueChange="DoctorSelect" />
            <DropDownListFieldSettings Text="FullName" Value="Id" />
        </SfDropDownList>
    </div>
    <br />
        <div class="col-md-12">
            <label class="example-label">Hasta Seçin</label>
            <SfAutoComplete TValue="Guid" TItem="PatientDto" @bind-Value="@SelectedPatientId" @ref="@refAutoComplate">
                <AutoCompleteFieldSettings   Value="Id" Text="FullName"/>
                <AutoCompleteEvents  TItem="PatientDto" TValue="Guid" Filtering="GetPatientFilter"></AutoCompleteEvents>
            </SfAutoComplete>
        </div>
        <br 
        <div class="submit-btn">
        <SfButton type="submit" IsPrimary CssClass="e-outline" @onclick="NavigateToPage">Hasta Ekle</SfButton>
    </div>

</div>


<div class="col-lg-9 control-section">
    @if(valueSelected) {
    <SfSchedule TValue="AppointmentDto" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate" StartHour="09:00" EndHour="18:00">
        <ScheduleEvents TValue="AppointmentDto" OnActionBegin="OnActionBegin"></ScheduleEvents>

        <ScheduleEventSettings DataSource="@AppointmentLists"></ScheduleEventSettings>

        <ScheduleTemplates>
            <EditorHeaderTemplate>
                @if (((context as AppointmentDto).Id) == default)
                {
                    <div>Randevu Oluştur</div>
                }
                else
                {
                    <div>Randevu Güncelle</div>
                }
            </EditorHeaderTemplate>
            <EditorTemplate>              

                <table class="custom-event-editor" width="100%" cellpadding="5">
                    <tbody>
                        
                        <tr>
                            <td class="e-textlabel">Randevu Türü</td>
                            <td colspan="4">
                                
                                <SfDropDownList TValue="Guid" TItem="AppointmentTypeDto"  DataSource="@AppointmentTypes" Placeholder="Randevu türü seç" @bind-Value="@((context as AppointmentDto).AppointmentTypeId)">
                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Statü</td>
                            <td class="dropdown" colspan="4">
                                <SfDropDownList TValue="EnumStatus" TItem="string" DataSource="@Enum.GetNames(typeof(EnumStatus))" Placeholder="Randevu statüsü seç" @bind-Value="@((context as AppointmentDto).Status)">
                                    <DropDownListFieldSettings Text="string" Value="EnumStatus"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Başlangıç Saati</td>
                            <td colspan="4">
                                <SfDateTimePicker @bind-Value="@((context as AppointmentDto).StartTime)" Step="15"></SfDateTimePicker>
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Bitiş Saati</td>
                            <td colspan="4">
                                <SfDateTimePicker @bind-Value="@((context as AppointmentDto).EndTime)" Step="15"></SfDateTimePicker>
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Not</td>
                            <td colspan="4">
                                <SfTextBox Multiline="true" @bind-Value="@((context as AppointmentDto).Notes)"></SfTextBox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </EditorTemplate>
        </ScheduleTemplates>
        <ScheduleViews>
            <ScheduleView Option="View.Day"></ScheduleView>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.WorkWeek"></ScheduleView>
            <ScheduleView Option="View.Month"></ScheduleView>
            <ScheduleView Option="View.Agenda"></ScheduleView>
        </ScheduleViews>
    </SfSchedule>
    }
</div>
</div>

<style>
    .col-md-3 {
        display: inline-block; 
        vertical-align: top; 
        margin-right: 15px; 
    }

        .col-md-3:last-child {
            margin-right: 0; 
        }

    .col-lg-12 {
        display: flex; 
        flex-wrap: wrap; 
        gap: 15px; 
    }

    .weekend-cell {
        background-color: #f5f5f5; 
        color: #d9534f; 
        pointer-events: none; 
    }   
   

    .example-content {
        padding: 0px 0px 15px 0px;
    }

        .example-content:last-child {
            padding: 0px 0px 15px 0px;
        }
        
</style>