@page "/appointments"

@attribute [Authorize(HealthCarePermissions.Appointments.Default)]

@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.AppointmentTypes
@using Pusula.Training.HealthCare.Blazor.Components.Dialogs.Patients
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Shared
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Position = Syncfusion.Blazor.Popups.Position
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@inherits HealthCareComponentBase

@inject IAppointmentsAppService AppointmentsAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IDoctorAppService DoctorsAppService
@inject IAppointmentTypesAppService AppointmentTypeAppService
@inject IPatientAppService PatientAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

<PageHeader Title="Randevu İşlemleri" BreadcrumbItems="BreadcrumbItems"/>

<div class="row g-0">
    <div class="col-lg-3" style="padding-top:15px">

        <div class="col-md-12">
            <label class="example-label">Departman Seçin</label>
            <SfDropDownList TItem="DepartmentDto" TValue="Guid" PopupHeight="230px" Placeholder="e.g. Departman Seç"
                            @bind-Value="@SelectedDepartmentId" DataSource="@Departments" AllowFiltering>
                <DropDownListEvents TItem="DepartmentDto" TValue="Guid" ValueChange="DepartmentSelect"/>
                <DropDownListFieldSettings Text="Name" Value="Id"/>
            </SfDropDownList>
        </div>
        <br/>
        <div class="col-md-12">
            <label class="example-label">Doktor Seçin</label>
            <SfDropDownList TItem="DoctorDto" TValue="Guid" PopupHeight="230px" Placeholder="e.g. Doktor Seç"
                            @bind-Value="@SelectedDoctorId" DataSource="@Doctors">
                <DropDownListEvents TItem="DoctorDto" TValue="Guid" ValueChange="DoctorSelect"/>
                <DropDownListFieldSettings Text="FullName" Value="Id"/>
            </SfDropDownList>           
        </div>
    </div>

    <div class="col-lg-9 control-section">
        @if (valueSelected)
        {
            <SfSchedule AllowDragAndDrop="true" MinDate="@MinDate" TValue="AppointmentDto" Width="100%" Height="650px" 
                        ShowQuickInfo="false" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView"
                        StartHour="09:00" EndHour="18:00" ShowWeekend="false">

                <ScheduleEvents TValue="AppointmentDto" Dragged="AppointmentDrag"
                                OnEventDoubleClick="@CancelScheduleEvent"
                                OnEventClick="@OpenUpdateAppointmentDialogAsync"
                                OnCellClick="@OpenCreateAppointmentDialogAsync"
                                OnCellDoubleClick="@CancelScheduleEvent"
                                EventRendered="OnEventRendered"/>

                <ScheduleTimeScale Enable="@GridLine" Interval="@IntervalValue" SlotCount=1></ScheduleTimeScale>

                <ScheduleEventSettings DataSource="@AppointmentLists"/>

                <ScheduleViews>
                    <ScheduleView Option="View.Day"></ScheduleView>
                    <ScheduleView Option="View.Week"></ScheduleView>
                    <ScheduleView Option="View.Month"></ScheduleView>
                    <ScheduleView Option="View.Agenda"></ScheduleView>
                </ScheduleViews>
            </SfSchedule>
        }
    </div>
</div>

@* ************************* CREATE MODAL ************************* *@
<SfDialog @ref="@CreateAppointmentDialog" Target="#target" Width="800px" IsModal ShowCloseIcon Visible="false">
    <DialogTemplates>
        <Header> @L["Randevu Ekleme"] </Header>
        <Content>
            <div class="d-flex gap-4">
                <EditForm EditContext="@AppointmentCreateContext" class="flex-grow-1">
                    <DataAnnotationsValidator></DataAnnotationsValidator>

                    <div class="d-flex flex-column gap-2">
                        @if (CreatedPatient != null)
                        {
                            @CreatedPatient.FullName
                        }

                        <div>
                            <SfAutoComplete TValue="Guid" TItem="LookupDto<Guid>"
                                            @bind-Value="@AppointmentCreateDto.PatientId" 
                                            @ref="@refAutoComplatePatient" Placeholder="Hasta Seçin" FloatLabelType="FloatLabelType.Always">
                                <AutoCompleteFieldSettings Value="Id" Text="DisplayName" />
                                <AutoCompleteEvents TItem="LookupDto<Guid>" TValue="Guid" OnValueSelect="PatientIdChanged"
                                                    Filtering="GetPatientFilter"></AutoCompleteEvents>
                            </SfAutoComplete>
                            <a class="text-decoration-none" @onclick="@OpenCreatePatientDialogAsync">Yeni hasta</a>
                        </div>

                        <SfDropDownList TValue="Guid" TItem="AppointmentTypeDto" DataSource="@AppointmentTypes"
                                        Placeholder="Randevu türü seç" FloatLabelType="FloatLabelType.Always"
                                        @bind-Value="@AppointmentCreateDto.AppointmentTypeId">
                            <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>

                        @* <SfDropDownList TValue="EnumAppointmentStatus" TItem="string"
                                        DataSource="@Enum.GetNames(typeof(EnumAppointmentStatus))"
                                        Placeholder="Randevu statüsü seç" FloatLabelType="FloatLabelType.Always"
                                        @bind-Value="@AppointmentCreateDto.Status">
                            <DropDownListFieldSettings Text="string" Value="EnumStatus"></DropDownListFieldSettings>
                        </SfDropDownList> *@
                        <div>
                            <SfTextBox Value="@AppointmentCreateDto.Status.ToString()" Readonly></SfTextBox>
                        </div>

                        @* <div class="d-flex gap-2">
                            <SfTextBox Value="@AppointmentCreateDto.StartTime.ToString()" Readonly></SfTextBox>
                            <SfTextBox Value="@AppointmentCreateDto.EndTime.ToString()" Readonly></SfTextBox>
                        </div> *@

                        <SfTextBox Multiline @bind-Value="@AppointmentCreateDto.Notes" Placeholder="Not" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                    </div>
                </EditForm>
                <div class="appointment-summary w-35">
                    <div class="d-flex gap-1 align-items-center">
                        <div class="p-1"><i class='fa fa-edit'></i></div>
                        <div class="fw-700"> Randevu Özeti</div></div>
                        <div class="p-1">
                        <p><strong><i class='far fa-user'></i> Hasta:</strong> @SelectedPatient</p>
                        <p><strong><i class='far fa-list-alt'></i> Tür:</strong> @AppointmentTypes.FirstOrDefault(t => t.Id == AppointmentCreateDto.AppointmentTypeId)?.Name</p>
                        <p><strong><i class='far fa-hospital'></i> Departman:</strong> @Departments.FirstOrDefault(d => d.Id == AppointmentCreateDto.DepartmentId)?.Name</p>
                        <p><strong><i class='fa fa-user-md'></i> Doktor:</strong> @Doctors.FirstOrDefault(d => d.Id == AppointmentCreateDto.DoctorId)?.FullName</p>
                        <p><strong><i class='fa fa-list-ul'></i> Statü:</strong> @AppointmentCreateDto.Status</p>
                        <p><strong><i class='far fa-clock'></i> Randevu Saati:</strong> @AppointmentCreateDto.StartTime.ToString()</p>
@*                         <p><strong><i class='far fa-clock'></i> Bitiş:</strong> @AppointmentCreateDto.EndTime.ToString()</p>
 *@                        <p class="text-break"><strong><i class='fa fa-pencil-alt'></i> Not:</strong> @AppointmentCreateDto.Notes</p>
                        </div>
                    
                </div>

            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Cancel" OnClick="@CloseCreateAppointmentDialogAsync" />
        <DialogButton Content="Save" IsPrimary OnClick="@CreateAppointmentAsync" />
    </DialogButtons>
</SfDialog>

@* ************************* UPDATE MODAL ************************* *@
<SfDialog @ref="@UpdateAppointmentDialog" Target="#target" Width="800px" IsModal ShowCloseIcon Visible="false">
    <DialogTemplates>
        <Header> @L["Randevu Güncelleme"] </Header>
        <Content>
            <div class="d-flex gap-4">
                <EditForm EditContext="@AppointmentUpdateContext" class="flex-grow-1">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <table class="custom-event-editor" width="100%" cellpadding="5">
                        <tbody>                            

                            <tr>
                                <td class="e-textlabel">Randevu Türü</td>
                                <td colspan="4">

                                    <SfDropDownList TValue="Guid" TItem="AppointmentTypeDto"
                                                    DataSource="@AppointmentTypes" Placeholder="Randevu türü seç"
                                                    @bind-Value="@AppointmentUpdateDto.AppointmentTypeId">
                                        <DropDownListFieldSettings Text="Name"
                                                                   Value="Id"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </td>
                            </tr>
                            <tr>
                                <td class="e-textlabel">Statü</td>
                                <td class="dropdown" colspan="4">
                                    <SfDropDownList TValue="EnumAppointmentStatus" TItem="string"
                                                    DataSource="@Enum.GetNames(typeof(EnumAppointmentStatus))"
                                                    Placeholder="Randevu statüsü seç"
                                                    @bind-Value="@AppointmentUpdateDto.Status">
                                        <DropDownListFieldSettings Text="string"
                                                                   Value="EnumStatus"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </td>
                            </tr>
                            @* <tr>

                                <td class="e-textlabel">Başlangıç</td>
                                <td colspan="4">
                                    <SfTextBox Value="@AppointmentUpdateDto.StartTime.ToString()" Readonly></SfTextBox>
                                </td>
                            </tr>
                            <tr>
                                <td class="e-textlabel">Bitiş</td>
                                <td colspan="4">
                                    <SfTextBox Value="@AppointmentUpdateDto.EndTime.ToString()" Readonly></SfTextBox>
                                </td>
                            </tr> *@
                            <tr>
                                <td class="e-textlabel">Not</td>
                                <td colspan="4">
                                    <SfTextBox Multiline="true"
                                               @bind-Value="@AppointmentUpdateDto.Notes"></SfTextBox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </EditForm>
                <div class="appointment-summary w-35">
                    <div class="d-flex gap-1 align-items-center">
                        <div class="p-1"><i class='fa fa-edit'></i></div>
                        <div class="fw-700"> Randevu Özeti</div></div>
                        <div class="p-1">
                        <p><strong><i class='far fa-user'></i> Hasta:</strong> @SelectedPatient</p>
                        <p><strong><i class='far fa-list-alt'></i> Tür:</strong> @AppointmentTypes.FirstOrDefault(t => t.Id == AppointmentUpdateDto.AppointmentTypeId)?.Name</p>
                        <p><strong><i class='far fa-hospital'></i> Departman:</strong> @Departments.FirstOrDefault(d => d.Id == AppointmentUpdateDto.DepartmentId)?.Name</p>
                        <p><strong><i class='fa fa-user-md'></i> Doktor:</strong> @Doctors.FirstOrDefault(d => d.Id == AppointmentUpdateDto.DoctorId)?.FullName</p>
                        <p><strong><i class='fa fa-list-ul'></i> Statü:</strong> @AppointmentUpdateDto.Status</p>
                        <p><strong><i class='far fa-clock'></i> Randevu Saati:</strong> @AppointmentUpdateDto.StartTime.ToString()</p>
@*                         <p><strong><i class='far fa-clock'></i> Bitiş:</strong> @AppointmentUpdateDto.EndTime.ToString()</p>
 *@                        <p class="text-break"><strong><i class='fa fa-pencil-alt'></i> Not:</strong> @AppointmentUpdateDto.Notes</p>
                </div>
                </div>

            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Cancel" OnClick="@CloseUpdateAppointmentDialogAsync" />
        <DialogButton Content="Save" IsPrimary OnClick="@UpdateAppointmentAsync" />
    </DialogButtons>
</SfDialog>

@* ************************* PATIENT CREATE MODAL ************************* *@
<PatientCreateDialog @ref="@CreatePatientDialog" PatientCreatedAsync="PatientCreatedAsync"/>



