@page "/appointment-reports"
@attribute [Authorize(HealthCarePermissions.Appointments.Default)]

@using Pusula.Training.HealthCare.AppointmentTypes
@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Permissions
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@inherits HealthCareComponentBase

@inject IAppointmentsAppService AppointmentAppService
@inject IDoctorAppService DoctorAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IPatientAppService PatientAppService
@inject IAppointmentsAppService AppointmentService
@inject IAppointmentTypesAppService AppointmentTypeAppService

@* ************************* SEARCH ************************* *@
<div class="bg-white mb-3">
    <SfDataForm EditContext="@FilterContext" OnValidSubmit="@SearchAsync"
                ButtonsAlignment="FormButtonsAlignment.Stretch"
                ValidationDisplayMode="FormValidationDisplay.Tooltip">
        <FormValidator>
            <DataAnnotationsValidator />
        </FormValidator>
        <FormTemplate>
            <div class="d-flex gap-2 p-2 align-items-end">
                <SfTextBox @bind-Value="@Filter.FilterText" Placeholder="@L["Search"]" />

                <SfDateRangePicker TValue="DateTime?" @bind-StartDate="@Filter.StartTime"
                                   @bind-EndDate="@Filter.EndTime" FullScreen Format="dd.MM.yyyy"
                                   FirstDayOfWeek="@((int)DayOfWeek.Monday)">
                    <DateRangePickerEvents TValue="DateTime?" ValueChange="@SearchAsync"></DateRangePickerEvents>
                    <DateRangePickerPresets>
                        <DateRangePickerPreset Label="@L["Today"]" Start="@Today" End="@Tomorrow" />
                        <DateRangePickerPreset Label="@L["ThisWeek"]" Start="@ThisWeekStart"
                                               End="@ThisWeekStart.AddDays(6)" />
                        <DateRangePickerPreset Label="@L["ThisMonth"]" Start="@ThisMonthStart"
                                               End="@ThisMonthStart.AddMonths(1).AddDays(-1)" />
                        <DateRangePickerPreset Label="@L["OneMonth"]" Start="@Today.AddMonths(-1)"
                                               End="@Today" />
                        <DateRangePickerPreset Label="@L["ThreeMonth"]" Start="@Today.AddMonths(-3)"
                                               End="@Today" />
                        <DateRangePickerPreset Label="@L["SixMonth"]" Start="@Today.AddMonths(-6)"
                                               End="@Today" />
                        <DateRangePickerPreset Label="@L["OneYear"]" Start="@Today.AddYears(-1)"
                                               End="@Today" />
                    </DateRangePickerPresets>
                </SfDateRangePicker>

                <SfAutoComplete @ref="DoctorFilterAutoComplete" @bind-Value="@Filter.DoctorId"
                                TValue="Guid?" TItem="DoctorDto" Placeholder="@L["Doctor"]"
                                DataSource="@DoctorList" AllowFiltering Autofill Highlight
                                EnableVirtualization ShowClearButton
                                PopupHeight="300px">
                    <AutoCompleteEvents TValue="Guid?" TItem="DoctorDto" Filtering="@FilterDoctorAsync"
                                        ValueChange="@SearchAsync" />
                    <AutoCompleteFieldSettings Text="FullName" Value="Id" />
                </SfAutoComplete>

                <SfAutoComplete @ref="DepartmentFilterAutoComplete"
                                @bind-Value="@Filter.DepartmentId" TValue="Guid?"
                                TItem="DepartmentDto" Placeholder="@L["Department"]"
                                DataSource="@DepartmentList" AllowFiltering Autofill Highlight
                                EnableVirtualization ShowClearButton
                                PopupHeight="300px">
                    <AutoCompleteEvents TValue="Guid?" TItem="DepartmentDto"
                                        Filtering="@FilterDepartmentAsync" ValueChange="@SearchAsync" />
                    <AutoCompleteFieldSettings Text="Name" Value="Id" />
                </SfAutoComplete>

                <SfAutoComplete @ref="PatientFilterAutoComplete" @bind-Value="@Filter.PatientId"
                                TValue="Guid?" TItem="PatientDto" Placeholder="@L["Patient"]"
                                DataSource="@PatientList" AllowFiltering Autofill Highlight
                                EnableVirtualization ShowClearButton
                                PopupHeight="300px">
                    <AutoCompleteEvents TValue="Guid?" TItem="PatientDto" Filtering="@FilterPatientAsync"
                                        ValueChange="@SearchAsync" />
                    <AutoCompleteFieldSettings Text="FullName" Value="Id" />
                </SfAutoComplete>

                <SfDropDownList @bind-Value="@Filter.AppointmentTypeId" TValue="Guid?"
                                TItem="AppointmentTypeDto" Placeholder="@L["AppointmentType"]"
                                DataSource="@AppointmentTypeList" AllowFiltering EnableVirtualization
                                ShowClearButton PopupHeight="300px">
                    <DropDownListEvents TItem="AppointmentTypeDto" TValue="Guid?"
                                        ValueChange="@SearchAsync"></DropDownListEvents>
                    <DropDownListFieldSettings Text="Name" Value="Id" />
                </SfDropDownList>
                

                <SfButton type="submit" IsPrimary>@L["Filter"]</SfButton>
            </div>
        </FormTemplate>
        <FormButtons></FormButtons>
    </SfDataForm>
</div>

<SfGrid @ref="SfGrid" TValue="AppointmentDto" Height="600px" DataSource="@AppointmentList"
         EnableHover EnableVirtualMaskRow EnableStickyHeader>
    <GridSelectionSettings CheckboxOnly PersistSelection />
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="30" ></GridColumn>
        @* <GridColumn Field="@nameof(AppointmentDto.StartTime)" Format="dd.MM.yyyy hh:mm"></GridColumn> *@
        @* <GridColumn HeaderText="@L["Status"]">
        <Template>
                @{
                    var dto = (context as AppointmentDto)!;
                    <ProtocolStatusBadge Status="@dto.Status" />
                }
            </Template>
                </GridColumn>*@
         @* <GridColumn HeaderText="@L["AppointmentType"]">
             <Template>
                @{
                    var dto = (context as ProtocAppointmentDtoolDto)!;
                    @(dto.ProtocolType.Name)
                }
            </Template> 
        </GridColumn> *@
@*         <GridColumn Field="@nameof(AppointmentDto.Description)"></GridColumn>
 *@        @* <GridColumn HeaderText="@L["Patient"]">
             <Template>
                @{
                    var dto = (context as AppointmentDto)!;
                    @(dto.Patient.FullName)
                }
            </Template> 
        </GridColumn> 
        <GridColumn HeaderText="@L["Doctor"]">
            <Template>
                @{
                    var dto = (context as AppointmentDto)!;
                    @(dto.Doctor.FullName)
                }
            </Template> 
        </GridColumn>
        <GridColumn HeaderText="@L["Department"]">
             <Template>
                @{
                    var dto = (context as AppointmentDto)!;
                    @(dto.Department.Name)
                }
            </Template> 
        </GridColumn> *@
    </GridColumns>
</SfGrid>

<style>
    .e-list-item {
        padding: 8px !important;
        line-height: normal !important;
        height: auto !important;
    }

    .e-range-header {
        display: none !important;
    }
</style>
