@page "/countries"

@attribute [Authorize(HealthCarePermissions.Countries.Default)]
@using Pusula.Training.HealthCare.Countries
@using Pusula.Training.HealthCare.Localization
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@inherits HealthCareComponentBase
@inject ICountryAppService CountryAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager


@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Countries"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar"/>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="CountrySearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="CountrySearchForm" Clicked="GetCountriesAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>

        <Row Class="mt-3 mb-3">
            <div class="col-md-12">
                <a href="javascript:;" class="text-decoration-none"
                   @onclick="() => ShowAdvancedFilters = !ShowAdvancedFilters">@L["SeeAdvancedFilters"]</a>
            </div>
        </Row>

        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit Text="@Filter.Name" TextChanged="@OnNameChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Iso"]</FieldLabel>
                        <TextEdit Text="@Filter.Iso" TextChanged="@OnIsoChangedAsync"/>
                    </Field>
                </Column>
            </Row>
        </div>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        @if (SelectedCountries.Any())
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="lead mb-0">
                    @if (AllCountriesSelected)
                    {
                        @L["AllItemsAreSelected", TotalCount]
                    }
                    else
                    {
                        if (SelectedCountries.Count > 1)
                        {
                            @L["NumberOfItemsOnThisPageAreSelected", SelectedCountries.Count]
                        }
                        else
                        {
                            @L["OneItemOnThisPageIsSelected"]
                        }
                    }
                </p>

                <div class="d-flex align-items-center gap-1">
                    @if (AllCountriesSelected)
                    {
                        <Button Clicked="ClearSelection" Size="Size.Small" Color="Color.Secondary"
                                Outline>@L["ClearSelection"]</Button>
                    }
                    else
                    {
                        <Button Clicked="SelectAllItems" Size="Size.Small" Color="Color.Secondary"
                                Outline>@L["SelectAllItems", TotalCount]</Button>
                    }

                    <Button Color="Color.Danger" Size="Size.Small" Clicked="DeleteSelectedCountriesAsync">
                        <Icon Name="@IconName.Delete"/> @L["Delete"]
                    </Button>
                </div>
            </div>

            <hr class="my-1 mx-0"/>
        }
        <DataGrid TItem="CountryDto"
                  Data="CountryList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedCountries"
                  RowSelectable="@((args) => CanDeleteCountry)"
                  SelectedRowsChanged="SelectedCountryRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <RadarSpinner/>
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4"
                                 TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>
            <DataGridColumns>

                @if (CanDeleteCountry && CountryList.Any())
                {
                    <DataGridMultiSelectColumn TItem="CountryDto" DisplayOrder="-1"
                                               Width="30px"></DataGridMultiSelectColumn>
                }

                <DataGridEntityActionsColumn TItem="CountryDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="CountryDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="CountryDto"
                                          Visible="@CanEditCountry"
                                          Clicked="async () => await OpenEditCountryModalAsync(context)"
                                          Text="@L["Edit"]">
                            </EntityAction>
                            <EntityAction TItem="CountryDto"
                                          Visible="@CanDeleteCountry"
                                          Clicked="async () => await DeleteCountryAsync(context)"
                                          ConfirmationMessage="@(() => L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]">
                            </EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>

                <DataGridColumn TItem="CountryDto"
                                Field="Name"
                                Caption="@L["Name"]">
                </DataGridColumn>

                <DataGridColumn TItem="CountryDto"
                                Field="Iso"
                                Caption="@L["Iso"]">
                </DataGridColumn>

                <DataGridColumn TItem="CountryDto"
                                Field="PhoneCode"
                                Caption="@L["PhoneCode"]">
                </DataGridColumn>

            </DataGridColumns>

        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateCountryModal" Closing="@CreateCountryModal.CancelClosingModalWhenFocusLost">
    <ModalContent Size="ModalSize.Large" Centered>
        <Form id="CreateCountryForm">
            <ModalHeader>
                <ModalTitle>@L["NewCountry"]</ModalTitle>
                <CloseButton Clicked="CloseCreateCountryModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewCountryValidations"
                             Mode="ValidationMode.Auto"
                             Model="@NewCountry"
                             ValidateOnLoad="false">
                    <div class="row gy-1 gx-3">

                        <Validation MessageLocalizer="@LH.Localize">
                            <Field ColumnSize="ColumnSize.Is6">
                                <FieldLabel>@L["Name"] *</FieldLabel>
                                <TextEdit @bind-Text="@NewCountry.Name" MaxLength="CountryConsts.NameMaxLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>

                        <Validation MessageLocalizer="@LH.Localize">
                            <Field ColumnSize="ColumnSize.Is6">
                                <FieldLabel>@L["Iso"] *</FieldLabel>
                                <TextEdit @bind-Text="@NewCountry.Iso" MaxLength="CountryConsts.IsoMaxLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>

                        <Validation MessageLocalizer="@LH.Localize">
                            <Field ColumnSize="ColumnSize.Is6">
                                <FieldLabel>@L["PhoneCode"] *</FieldLabel>
                                <TextEdit @bind-Text="@NewCountry.PhoneCode" MaxLength="CountryConsts.PhoneCodeMaxLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>

                    </div>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateCountryModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateCountryForm" Clicked="CreateCountryAsync"/>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditCountryModal" Closing="@EditCountryModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered Size="ModalSize.Large">
        <Form id="EditCountryForm">
            <ModalHeader>
                <ModalTitle>@L["UpdateCountry"]</ModalTitle>
                <CloseButton Clicked="CloseEditCountryModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingCountryValidations"
                             Mode="ValidationMode.Auto"
                             Model="@EditingCountry"
                             ValidateOnLoad="false">

                    <div class="row gy-1 gx-3">

                        <Validation MessageLocalizer="@LH.Localize">
                            <Field ColumnSize="ColumnSize.Is6">
                                <FieldLabel>@L["Name"] *</FieldLabel>
                                <TextEdit @bind-Text="@EditingCountry.Name" MaxLength="CountryConsts.NameMaxLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>

                        <Validation MessageLocalizer="@LH.Localize">
                            <Field ColumnSize="ColumnSize.Is6">
                                <FieldLabel>@L["Iso"] *</FieldLabel>
                                <TextEdit @bind-Text="@EditingCountry.Iso" MaxLength="CountryConsts.IsoMaxLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>

                        <Validation MessageLocalizer="@LH.Localize">
                            <Field ColumnSize="ColumnSize.Is6">
                                <FieldLabel>@L["PhoneCode"] *</FieldLabel>
                                <TextEdit @bind-Text="@EditingCountry.PhoneCode" MaxLength="CountryConsts.PhoneCodeMaxLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        
                    </div>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditCountryModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditCountryForm" Clicked="UpdateCountryAsync"/>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>