@page "/examinations"

@attribute [Authorize(HealthCarePermissions.Examinations.Default)]
@using Pusula.Training.HealthCare.Examinations
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid

@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HealthCareComponentBase
@inject IExaminationAppService ExaminationAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Examinations"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        @*//<suite-custom-code-block-1>*@
        @*//</suite-custom-code-block-1>*@
        <Form id="ExaminationSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@ExaminationFilter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="ExaminationSearchForm" Clicked="GetExaminationsAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>

        <Row Class="mt-3 mb-3">
            <div class="col-md-12">
                <a href="javascript:;" class="text-decoration-none" @onclick="() => ShowAdvancedFilters = !ShowAdvancedFilters">@L["SeeAdvancedFilters"]</a>
            </div>
        </Row>

        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit Text="@ExaminationFilter.FilterText" TextChanged="@OnNameChangedAsync" MaxLength="ExaminationConsts.NameNumberMaxLength" />
                        <FieldLabel>@L["IdentityNumber"]</FieldLabel>
                        <TextEdit Text="@ExaminationFilter.IdentityNumber" TextChanged="@OnNameChangedAsync" MaxLength="ExaminationConsts.IdentityNumberMaxLength" />
                        <FieldLabel>@L["VisitDate"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
                                    InputMode="DateInputMode.Date"
                                    Date="@ExaminationFilter.VisitDate"
                                    DateChanged="@OnVisitDateChangedAsync"
                                    Placeholder="@string.Empty" />
                    </Field>
                </Column>
                @* <SfDatePicker></SfDatePicker>*@

            </Row>
            @*//<suite-custom-code-block-2>*@ 
            @*//</suite-custom-code-block-2>*@
        </div>

        @*//<suite-custom-code-block-3>*@
        @*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="ExaminationDto"
                  Data="ExaminationList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedExaminations"
                  RowSelectable="@((args) => CanDeleteExamination)"
                  SelectedRowsChanged="SelectedExaminationRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="20"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>
            <DataGridColumns>

                @if (CanDeleteExamination && ExaminationList.Any())
                {
                    <DataGridMultiSelectColumn TItem="ExaminationDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }

                <DataGridEntityActionsColumn TItem="ExaminationDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ExaminationDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ExaminationDto"
                                          Visible="@CanEditExamination"
                                          Clicked="async () => await OpenEditExaminationModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="ExaminationDto"
                                          Visible="@CanDeleteExamination"
                                          Clicked="() => DeleteExaminationAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                            @*//<suite-custom-code-block-4>*@
                            @*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>

                <DataGridColumn TItem="ExaminationDto"
                                Field="IdentityNumber"
                                Caption="@L["IdentityNumber"]">

                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="VisitDate"
                                Caption="@L["VisitDate"]">
                    <DisplayTemplate>
                        @context.VisitDate.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="Notes"
                                Caption="@L["Notes"]">
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="ChronicDiseases"
                                Caption="@L["ChronicDiseases"]">
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="Allergies"
                                Caption="@L["Allergies"]">
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="Medications"
                                Caption="@L["Medications"]">
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="Diagnosis"
                                Caption="@L["Diagnosis"]">
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="Prescription"
                                Caption="@L["Prescription"]">
                </DataGridColumn>
                <DataGridColumn TItem="ExaminationDto"
                                Field="ImagingResults"
                                Caption="@L["ImagingResults"]">
                </DataGridColumn>


            </DataGridColumns>


        </DataGrid>
    </CardBody>
</Card>

@********************* CREATE MODAL ************************* *@
<Modal @ref="CreateExaminationModal" Closing="@CreateExaminationModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
       <Form id="CreateExaminationForm">
            <ModalHeader>
                <ModalTitle>@L["NewExamination"]</ModalTitle>
                <CloseButton Clicked="CloseCreateExaminationModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewExaminationValidations"
                             Mode="ValidationMode.Auto"
                             Model="@NewExamination"
                             ValidateOnLoad="false">


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["IdentityNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.IdentityNumber" MaxLength="ExaminationConsts.IdentityNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Notes"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.Notes" MaxLength="ExaminationConsts.NotesNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field ColumnSize="ColumnSize.Is6">
                            <FieldLabel>@L["VisitDate"]</FieldLabel>
                            <DateEdit TValue="DateTime" @bind-Date="@NewExamination.VisitDate" InputMode="DateInputMode.Date">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ChronicDiseases"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.ChronicDiseases" MaxLength="ExaminationConsts.ChronicDiseasesNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Allergies"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.Allergies" MaxLength="ExaminationConsts.AllergiesNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Medications"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.Medications" MaxLength="ExaminationConsts.MedicationsNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateExaminationModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateExaminationForm" Clicked="CreateExaminationAsync" />
                @*//<suite-custom-code-block-6>*@
                @*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
        @*//<suite-custom-code-block-7>*@
        @*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditExaminationModal" Closing="@EditExaminationModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="EditExaminationForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditExaminationModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingExaminationValidations"
                             Mode="ValidationMode.Auto"
                             Model="@EditingExamination"
                             ValidateOnLoad="false">

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["IdentityNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.IdentityNumber" MaxLength="ExaminationConsts.IdentityNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Notes"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.Notes" MaxLength="ExaminationConsts.NotesNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field ColumnSize="ColumnSize.Is6">
                            <FieldLabel>@L["VisitDate"]</FieldLabel>
                            <DateEdit TValue="DateTime" @bind-Date="@NewExamination.VisitDate" InputMode="DateInputMode.Date">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Notes"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.ChronicDiseases" MaxLength="ExaminationConsts.ChronicDiseasesNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Notes"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.Allergies" MaxLength="ExaminationConsts.AllergiesNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Notes"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewExamination.Medications" MaxLength="ExaminationConsts.MedicationsNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditExaminationModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditExaminationForm" Clicked="UpdateExaminationAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

