@page "/patients"

@attribute [Authorize(HealthCarePermissions.Patients.Default)]
@using Pusula.Training.HealthCare.Patients
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Countries
@using Pusula.Training.HealthCare.PatientTypes
@using Volo.Abp.Http.Client
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@inherits HealthCareComponentBase
@inject IPatientAppService PatientAppService
@inject IPatientTypeAppService PatientTypeAppService
@inject ICountryAppService CountryAppService
@inject SfDialogService DialogService
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

<PageHeader Title="" BreadcrumbItems="BreadcrumbItems"/>

@* ************************* SEARCH ************************* *@
<div class="bg-white mb-3">
    <SfDataForm EditContext="@FilterContext" OnValidSubmit="@SearchAsync"
                ButtonsAlignment="FormButtonsAlignment.Stretch"
                ValidationDisplayMode="FormValidationDisplay.Tooltip">
        <FormValidator>
            <Blazored.FluentValidation.FluentValidationValidator
                Validator="@FilterValidator"></Blazored.FluentValidation.FluentValidationValidator>
        </FormValidator>
        <FormTemplate>
            <div class="p-2">
                <SfTextBox @bind-Value="@Filter.FilterText" Placeholder="@L["Search:Patient"]" CssClass="mb-2"/>
                <a href="javascript:;" class="text-decoration-none"
                   @onclick="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">
                    @L["SeeAdvancedFilters"] <SfIcon
                        IconCss="@($"e-icons fas fa-chevron-{(ShowAdvancedFilters ? "up" : "down")}")"/>
                </a>
            </div>
        </Row>

        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["FirstName"]</FieldLabel>
                        <TextEdit Text="@Filter.FirstName" TextChanged="@OnFirstNameChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["LastName"]</FieldLabel>
                        <TextEdit Text="@Filter.LastName" TextChanged="@OnLastNameChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinBirthDate"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
                                    InputMode="DateInputMode.Date"
                                    Date="@Filter.BirthDateMin"
                                    DateChanged="@OnBirthDateMinChangedAsync"
                                    Placeholder="@string.Empty"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxBirthDate"]</FieldLabel>
                        <DatePicker TValue="DateTime?"
                                    InputMode="DateInputMode.Date"
                                    Date="@Filter.BirthDateMax"
                                    DateChanged="@OnBirthDateMaxChangedAsync"
                                    Placeholder="@string.Empty"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IdentityNumber"]</FieldLabel>
                        <TextEdit Text="@Filter.IdentityNumber" TextChanged="@OnIdentityNumberChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["EmailAddress"]</FieldLabel>
                        <TextEdit Text="@Filter.EmailAddress" TextChanged="@OnEmailAddressChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MobilePhoneNumber"]</FieldLabel>
                        <TextEdit Text="@Filter.MobilePhoneNumber" TextChanged="@OnMobilePhoneNumberChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["HomePhoneNumber"]</FieldLabel>
                        <TextEdit Text="@Filter.HomePhoneNumber" TextChanged="@OnHomePhoneNumberChangedAsync"/>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Gender"]</FieldLabel>
                        <Select TValue="EnumGender" SelectedValue="@Filter.Gender" SelectedValueChanged="@OnGenderChangedAsync">
                            <SelectItem Value="EnumGender.None">@L["Gender:None"]</SelectItem>
                            <SelectItem Value="EnumGender.Male">@L["Gender:Male"]</SelectItem>
                            <SelectItem Value="EnumGender.Female">@L["Gender:Female"]</SelectItem>
                        </Select>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["BloodType"]</FieldLabel>
                        <Select TValue="EnumBloodType" SelectedValue="@Filter.BloodType" SelectedValueChanged="@OnBloodTypeChangedAsync">
                            <SelectItem Value="EnumBloodType.None">@L["BloodType:None"]</SelectItem>
                            <SelectItem Value="EnumBloodType.ANegative">@L["BloodType:ANegative"]</SelectItem>
                            <SelectItem Value="EnumBloodType.APositive">@L["BloodType:APositive"]</SelectItem>
                            <SelectItem Value="EnumBloodType.BNegative">@L["BloodType:BNegative"]</SelectItem>
                            <SelectItem Value="EnumBloodType.BPositive">@L["BloodType:BPositive"]</SelectItem>
                            <SelectItem Value="EnumBloodType.AbNegative">@L["BloodType:AbNegative"]</SelectItem>
                            <SelectItem Value="EnumBloodType.AbPositive">@L["BloodType:AbPositive"]</SelectItem>
                            <SelectItem Value="EnumBloodType.ZeroNegative">@L["BloodType:ZeroNegative"]</SelectItem>
                            <SelectItem Value="EnumBloodType.ZeroPositive">@L["BloodType:ZeroPositive"]</SelectItem>
                        </Select>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaritalStatus"]</FieldLabel>
                        <Select TValue="EnumMaritalStatus" SelectedValue="@Filter.MaritalStatus" SelectedValueChanged="@OnMaritalStatusChangedAsync">
                            <SelectItem Value="EnumMaritalStatus.None">@L["MaritalStatus:None"]</SelectItem>
                            <SelectItem Value="EnumMaritalStatus.Single">@L["MaritalStatus:Single"]</SelectItem>
                            <SelectItem Value="EnumMaritalStatus.Married">@L["MaritalStatus:Married"]</SelectItem>
                        </Select>
                    </Field>
                </Column>
            </Row>
        </div>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        @if (SelectedPatients.Any())
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class=   "lead mb-0">
                    @if (AllPatientsSelected)
                    {
                        @L["AllItemsAreSelected", TotalCount]
                    }
                    else
                    {
                        if (SelectedPatients.Count > 1)
                        {
                            @L["NumberOfItemsOnThisPageAreSelected", SelectedPatients.Count]
                        }
                        else
                        {
                            @L["OneItemOnThisPageIsSelected"]
                        }
                    }
                </p>

@* ************************* DATA GRID ************************* *@
<SfGrid @ref="SfGrid" TValue="PatientWithNavigationPropertiesDto" DataSource="@PatientList" AllowPaging AllowSelection
        EnableHover AllowSorting EnableVirtualization
        EnableVirtualMaskRow Height="500">
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="@ItemType.Button" OnClick="OpenCreatePatientDialogAsync" Text="@L["Add"]"
                         PrefixIcon="e-icons fas fa-plus" TooltipText="@L["NewPatient"]"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Button" OnClick="DeleteSelectedPatientsAsync"
                         Disabled="@(SfGrid.SelectedRecords.Count == 0)"
                         Text="@L["Delete"]" PrefixIcon="e-icons fas fa-trash-alt"
                         TooltipText="@L["Delete"]"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-icons far fa-file-excel"
                         Text="@L["ExportExcel"]" TooltipText="@L["ExportExcel"]"
                         OnClick="@DownloadAsExcelAsync"></ToolbarItem>
        </ToolbarItems>
    </SfToolbar>
    <GridEvents TValue="PatientWithNavigationPropertiesDto"
                RowSelected="@SelectedPatientRowChangedAsync"
                RowDeselected="@SelectedPatientRowChangedAsync"/>
    <GridSelectionSettings CheckboxOnly PersistSelection/>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="30"></GridColumn>
        <GridColumn HeaderText="@L["Patient"]">
            <Template>
                @{
                    var dto = context as PatientWithNavigationPropertiesDto;
                    <div class="fw-500">
                        @dto.Patient.FullName
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        <SfIcon
                            IconCss="@($"fs-18p fas {(dto.Patient.Gender == EnumGender.Male ? "fa-mars color-blue-500" : "fa-venus color-pink-500")}")"></SfIcon>
                        <div>
                            <span>Hasta No:</span>
                            <span>@dto.Patient.No</span>
                        </div>
                        <span class="vr"></span>
                        <div>
                            @dto.Country.Iso
                        </div>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="@L["IdentityOrPassportNumber"]">
            <Template>
                @{
                    var dto = context as PatientWithNavigationPropertiesDto;
                    @(dto.Patient.IdentityNumber ?? dto.Patient.PassportNumber)
                    if (dto.Patient.IdentityNumber.IsNullOrWhiteSpace())
                    {
                        <SfIcon IconCss="fas fa-passport color-blue-grey-500 ms-1"></SfIcon>
                    }
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="@L["BirthDate"]">
            <Template>
                @{
                    var dto = context as PatientWithNavigationPropertiesDto;
                    <div class="d-flex gap-1">
                        <span>@dto.Patient.BirthDate.ToString("MM.dd.yyyy")</span>
                        <span class="fs-12p">(@dto.Patient.Age.Item1 @dto.Patient.Age.Item2)</span>
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="@L["EmailAddress"]">
            <Template>
                @{
                    var dto = context as PatientWithNavigationPropertiesDto;
                    <div>
                        @dto.Patient.EmailAddress
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="@L["MobilePhoneNumber"]">
            <Template>
                @{
                    var dto = context as PatientWithNavigationPropertiesDto;
                    <div>
                        @dto.Patient.MobilePhoneNumber
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn TextAlign="TextAlign.Right">
            <Template>
                <SfButton
                    OnClick="@(() => OpenEditPatientModalAsync((context as PatientWithNavigationPropertiesDto).Patient))"
                    CssClass="e-flat"
                    IconCss="e-icons e-edit"></SfButton>
                <SfButton OnClick="@(() => DeletePatientAsync((context as PatientWithNavigationPropertiesDto).Patient))"
                          CssClass="e-flat"
                          IconCss="e-icons e-trash"></SfButton>
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@* ************************* CREATE MODAL ************************* *@
<PatientCreateDialog @ref="CreatePatientDialog" CountryList="@CountryList" PatientTypeList="@PatientTypeList"
                     OnValidSaveAsync="CreatePatientAsync"/>

@* ************************* UPDATE MODAL ************************* *@
<PatientUpdateDialog @ref="UpdatePatientDialog" CountryList="@CountryList" PatientTypeList="@PatientTypeList"
                     OnValidSaveAsync="UpdatePatientAsync"/>

@* ************************* SEARCH ERROR TOAST ************************* *@
<SfToast @ref="FilterToast" CssClass="e-toast-danger" Timeout="3000">
    <ToastPosition X="Right" Y="Top"></ToastPosition>
    <ToastTemplates>
        <Template>
            <div class="d-flex align-items-center gap-2 py-1 px-2">
                <div class="fs-24p">
                    <SfIcon IconCss="e-icons e-error fas fa-exclamation"/>
                </div>
                All values are empty.
            </div>
        </Template>
    </ToastTemplates>
</SfToast>