@page "/prm/definitions/protocol-types"
@using Pusula.Training.HealthCare.ProtocolTypeActions
@using Pusula.Training.HealthCare.ProtocolTypes
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using GridColumns = Syncfusion.EJ2.Grids.GridColumns
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.DataForm
@using SelectionMode = Syncfusion.Blazor.DropDowns.SelectionMode
@inherits HealthCareComponentBase

@inject IProtocolTypeAppService ProtocolTypeAppService
@inject IProtocolTypeActionAppService ProtocolTypeActionAppService
@inject SfDialogService DialogService


<SfButton CssClass="mb-1" IsPrimary IconCss="fas fa-plus" IconPosition="IconPosition.Left"
          OnClick="ShowProtocolTypeCreateDialogAsync">
    Protocol Type
</SfButton>

<div>
    <SfDashboardLayout Columns="8" AllowDragging="false">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Column="0" Row="0" SizeX="2" SizeY="4">
                <HeaderTemplate>
                    @L["ProtocolTypes"]
                </HeaderTemplate>
                <ContentTemplate>
                    <SfListBox TValue="Guid[]" TItem="ProtocolTypeDto" DataSource="@ProtocolTypeList" Height="100%"
                               CssClass="e-list-template">
                        <ListBoxSelectionSettings Mode="SelectionMode.Single"></ListBoxSelectionSettings>
                        <ListBoxEvents TValue="Guid[]" TItem="ProtocolTypeDto"
                                       ValueChange="SelectedProtocolTypeChangedAsync"></ListBoxEvents>
                        <ListBoxTemplates TItem="ProtocolTypeDto">
                            <ItemTemplate>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>@context.Name</span>
                                    <div class="d-flex gap-1">
                                        <SfButton CssClass="e-small e-round e-flat" IconCss="fas fa-plus"
                                                  OnClick="@(() => ShowProtocolTypeActionCreateDialogAsync(context.Id))"></SfButton>
                                        <SfButton OnClick="@(() => ShowProtocolTypeUpdateDialogAsync(context.Id))"
                                                  CssClass="e-small e-round e-flat" IconCss="fas fa-edit"></SfButton>
                                        <SfButton OnClick="@(() => DeleteProtocolTypeAsync(context))"
                                                  CssClass="e-small e-round e-flat"
                                                  IconCss="e-icons e-trash"></SfButton>
                                    </div>
                                </div>
                            </ItemTemplate>
                        </ListBoxTemplates>
                        <ListBoxFieldSettings Value="Id"></ListBoxFieldSettings>
                    </SfListBox>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="2" Row="0" SizeX="6" SizeY="4">
                <HeaderTemplate>
                    @L["ProtocolTypeActions"]
                </HeaderTemplate>
                <ContentTemplate>
                    <SfGrid @ref="@ProtocolTypeActionListGrid" DataSource="@ProtocolTypeActionList"
                            TValue="ProtocolTypeActionDto" Width="100%" Height="100%" EnableStickyHeader EnableHover
                            EnableVirtualMaskRow>
                        <GridColumns>
                            <GridColumn Field="@nameof(ProtocolTypeActionDto.Name)" HeaderText="Name"></GridColumn>
                            <GridColumn TextAlign="TextAlign.Right">
                                <Template>
                                    @{
                                        var item = (context as ProtocolTypeActionDto)!;
                                    }
                                    <SfButton
                                        OnClick="@(() => ShowProtocolTypeActionUpdateDialogAsync(item.Id))"
                                        CssClass="e-flat" IconCss="e-icons e-edit"></SfButton>
                                    <SfButton
                                        OnClick="@(() => DeleteProtocolTypeActionAsync(item.Id))"
                                        CssClass="e-flat"
                                        IconCss="e-icons e-trash"></SfButton>
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@********************************** CREATE PROTOCOL TYPE DIALOG **********************************@
<SfDialog @ref="ProtocolTypeCreateDialog" Width="400px" IsModal ShowCloseIcon Visible="false"
          Header="Create Protocol Type">
    <DialogEvents Closed="SetDefaultsForCreateProtocolTypeDialog"></DialogEvents>
    <DialogTemplates>
        <Content>
            <SfDataForm ID="ProtocolTypeCreateForm"
                        Model="@ProtocolTypeCreateDto"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@ProtocolTypeCreateFormOnValidSubmitAsync"
                        ValidationDisplayMode="FormValidationDisplay.Inline">
                <FormValidator>
                    <DataAnnotationsValidator/>
                </FormValidator>
                <FormTemplate>
                    <SfTextBox @bind-Value="ProtocolTypeCreateDto.Name" Placeholder="@L["Name"]"
                               FloatLabelType="FloatLabelType.Always"/>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@HideProtocolTypeCreateDialogAsync">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@********************************** EDIT PROTOCOL TYPE DIALOG **********************************@
<SfDialog @ref="ProtocolTypeUpdateDialog" Width="400px" IsModal ShowCloseIcon Visible="false"
          Header="Edit Protocol Type">
    <DialogEvents Closed="SetDefaultsForUpdateProtocolTypeDialog"></DialogEvents>
    <DialogTemplates>
        <Content>
            <SfDataForm ID="ProtocolTypeUpdateForm"
                        Model="@ProtocolTypeUpdateDto"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@ProtocolTypeUpdateFormOnValidSubmitAsync"
                        ValidationDisplayMode="FormValidationDisplay.Inline">
                <FormValidator>
                    <DataAnnotationsValidator/>
                </FormValidator>
                <FormTemplate>
                    <SfTextBox @bind-Value="ProtocolTypeUpdateDto.Name" Placeholder="@L["Name"]"
                               FloatLabelType="FloatLabelType.Always"/>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@HideProtocolTypeUpdateDialogAsync">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@********************************** CREATE PROTOCOL TYPE ACTION DIALOG **********************************@
<SfDialog @ref="@ProtocolTypeActionCreateDialog" Width="400px" IsModal ShowCloseIcon Visible="false"
          Header="@L["CreateProtocolTypeAction"]">
    <DialogEvents Closed="@SetDefaultsForProtocolTypeActionCreateDialog"></DialogEvents>
    <DialogTemplates>
        <Content>
            <SfDataForm ID="NewProtocolTypeActionForm"
                        Model="@ProtocolTypeActionCreateDto"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@ProtocolTypeActionCreateFormOnValidSubmitAsync"
                        ValidationDisplayMode="FormValidationDisplay.Inline">
                <FormValidator>
                    <DataAnnotationsValidator/>
                </FormValidator>
                <FormTemplate>
                    <SfTextBox @bind-Value="@ProtocolTypeActionCreateDto.Name"
                               Placeholder="@L["Name"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@HideProtocolTypeActionCreateDialogAsync">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@********************************** UPDATE PROTOCOL TYPE ACTION DIALOG **********************************@
<SfDialog @ref="@ProtocolTypeActionUpdateDialog" Width="400px" IsModal ShowCloseIcon Visible="false"
          Header="@L["UpdateProtocolTypeAction"]">
    <DialogEvents Closed="@SetDefaultsForProtocolTypeActionUpdateDialog"></DialogEvents>
    <DialogTemplates>
        <Content>
            <SfDataForm ID="ProtocolTypeActionUpdateForm"
                        Model="@ProtocolTypeActionUpdateDto"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@ProtocolTypeActionUpdateFormOnValidSubmitAsync"
                        ValidationDisplayMode="FormValidationDisplay.Inline">
                <FormValidator>
                    <DataAnnotationsValidator/>
                </FormValidator>
                <FormTemplate>
                    <SfTextBox @bind-Value="@ProtocolTypeActionUpdateDto.Name"
                               Placeholder="@L["Name"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@HideProtocolTypeActionUpdateDialogAsync">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>
        </Content>
    </DialogTemplates>
</SfDialog>