@using Pusula.Training.HealthCare.RadiologyExaminationGroups
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DataForm
@using Blazored.FluentValidation
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@inherits HealthCareComponentBase

@inject IRadiologyExaminationGroupAppService RadiologyExaminationGroupAppService 

<SfDialog @ref="Dialog" Target="#target" Width="500px" IsModal ShowCloseIcon Visible="false">
    <DialogEvents Closed="@OnDialogClosed"></DialogEvents>
    <DialogTemplates>
        <Header>Radyoloji Tetkik Grup Güncelleme</Header>
        <Content>
            <SfDataForm ID="NewGroupForm"
                        Model="@EditingGroup"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@OnSaveClickAsync"
                        ValidationDisplayMode="FormValidationDisplay.Tooltip">
                <FormValidator>
                    <DataAnnotationsValidator />
                </FormValidator>
                <FormTemplate>
                    <div class="d-flex flex-column gap-2">
                        <SfTextBox @bind-Value="@EditingGroup.Name"
                                   Placeholder="@L["Group"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>

                        <SfTextBox @bind-Value="@EditingGroup.Description"
                                   Placeholder="@L["Description"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                    </div>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@(() => Dialog.HideAsync())">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>

        </Content>
    </DialogTemplates>
</SfDialog>

@code {

    [Parameter] public EventCallback<RadiologyExaminationGroupUpdateDto> OnValidSaveAsync { get; set; }

    private SfDialog Dialog { get; set; } = null!;

    private RadiologyExaminationGroupUpdateDto EditingGroup { get; set; } = new();

    private async Task OnSaveClickAsync(EditContext context)
    {
        await OnValidSaveAsync.InvokeAsync(EditingGroup);
        await HideAsync();
    }

    public async Task ShowAsync(Guid GroupId)
    {
        var Group = await RadiologyExaminationGroupAppService.GetAsync(GroupId);
        ObjectMapper.Map(Group, EditingGroup);
        await Dialog.ShowAsync();
    }

    public async Task HideAsync() => await Dialog.HideAsync();

    private void OnDialogClosed()
    {
        EditingGroup = new RadiologyExaminationGroupUpdateDto(); 
    }
}
