@using Pusula.Training.HealthCare.RadiologyExaminationGroups
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DataForm
@using Blazored.FluentValidation
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@inherits HealthCareComponentBase

<SfDialog @ref="Dialog" Target="#target" Width="500px" IsModal ShowCloseIcon Visible="false">
    <DialogEvents Closed="@OnDialogClosed"></DialogEvents>
    <DialogTemplates>
        <Header>Radyoloji Tetkik Grubu Ekleme</Header>
        <Content>
            <SfDataForm ID="NewGroupForm"
                        Model="@NewGroup"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@OnSaveClickAsync"
                        ValidationDisplayMode="FormValidationDisplay.Tooltip">
                <FormValidator>
                    <DataAnnotationsValidator />
                </FormValidator>
                <FormTemplate>
                    <div class="d-flex flex-column gap-2">
                        <SfTextBox @bind-Value="@NewGroup.Name"
                                   Placeholder="@L["Name"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>

                        <SfTextBox @bind-Value="@NewGroup.Description"
                                   Placeholder="@L["Description"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                     </div>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@(() => Dialog.HideAsync())">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>

        </Content>
    </DialogTemplates>
</SfDialog>

@code {

    [Parameter] public EventCallback<RadiologyExaminationGroupCreateDto> OnValidSaveAsync { get; set; }

    private SfDialog Dialog { get; set; } = null!;

    private RadiologyExaminationGroupCreateDto NewGroup { get; set; } = new();

    private async Task OnSaveClickAsync(EditContext context)
    {
        await OnValidSaveAsync.InvokeAsync(NewGroup);
        await HideAsync();
    }

    public async Task ShowAsync() => await Dialog.ShowAsync();

    public async Task HideAsync() => await Dialog.HideAsync();
     
    private void OnDialogClosed()
    { 
        NewGroup = new RadiologyExaminationGroupCreateDto();  
    }

}
