@page "/prm/management/patient-detail/{PatientNo:int}"
@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.Blazor.Themes.Layouts
@using Pusula.Training.HealthCare.Permissions

@layout PatientDetailLayout
@inherits HealthCareComponentBase

@inject IAppointmentsAppService AppointmentsAppService

<div class="d-flex gap-2">
    <div class="w-50 d-flex flex-column gap-2">
        <PatientDetailCard TitleIcon="far fa-hourglass" Title="@L["WaitingAppointments"]"
                           NoContent="@(!Appointments.Any())">
            <ChildContent>
                <PatientAppointmentList Appointments="@Appointments"/>
            </ChildContent>
        </PatientDetailCard>

        <PatientDetailCard TitleIcon="fas fa-history" Title="@L["LastVisits"]">
            <ChildContent>
                Test
            </ChildContent>
        </PatientDetailCard>
    </div>
    <div class="w-50 d-flex flex-column gap-2">
        <PatientDetailCard TitleIcon="far fa-sticky-note" Title="@L["Notes"]"
                           NoContent="@(!Patient.PatientNotes.Any())">
            <ChildContent>
                <PatientNoteList Notes="@Patient.PatientNotes"/>
            </ChildContent>
        </PatientDetailCard>
        <PatientDetailCard TitleIcon="far fa-address-book" Title="@L["Addresses"]"
                           NoContent="@(!Patient.Patient.Addresses.Any())">
            <ChildContent>
                <PatientAddressList Addresses="@Patient.Patient.Addresses"/>
            </ChildContent>
        </PatientDetailCard>
    </div>
</div>

