@using Pusula.Training.HealthCare.Countries
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.Hospitals
@using Pusula.Training.HealthCare.Titles
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

@inherits HealthCareComponentBase

@inject IDoctorAppService DoctorAppService
@inject ITitleAppService TitleAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IHospitalsAppService HospitalsAppService

<SfDialog @ref="Dialog" Target="#target" Width="1000px" IsModal ShowCloseIcon Visible="false">
    <DialogTemplates>
        <Header>@L["NewDoctor"]</Header>
        <Content>
            <SfDataForm ID="NewDoctorForm"
                        Model="@NewDoctor"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@OnSaveClickAsync"
                        ValidationDisplayMode="FormValidationDisplay.Inline">
                <FormValidator>
                    <DataAnnotationsValidator/>
                </FormValidator>
                <FormTemplate>
                    <div class="d-flex flex-column gap-2">
                        <div>
                            <label class="e-form-label">@L["Department"]</label>
                            <SfDropDownList TItem="DepartmentDto" TValue="Guid"
                                            @bind-Value="@NewDoctor.DepartmentId" PopupHeight="150px"
                                            Placeholder="@L["Department"]"
                                            DataSource="@DepartmentList">
                                <DropDownListFieldSettings Value="Id" Text="Name"/>
                            </SfDropDownList>
                        </div>

                        <div>
                            <label class="e-form-label">@L["Title"]</label>
                            <SfDropDownList TItem="TitleDto" TValue="Guid"
                                            @bind-Value="@NewDoctor.TitleId" PopupHeight="150px"
                                            Placeholder="@L["Title"]"
                                            DataSource="@TitleList">
                                <DropDownListFieldSettings Value="Id" Text="Name"/>
                            </SfDropDownList>
                        </div>

                        <div>
                            <label class="e-form-label">@L["Hospital"]</label>
                            <SfDropDownList TItem="HospitalDto" TValue="Guid"
                                            @bind-Value="@NewDoctor.HospitalId" PopupHeight="150px"
                                            Placeholder="@L["Hospital"]"
                                            DataSource="@HospitalList">
                                <DropDownListFieldSettings Value="Id" Text="Name"/>
                            </SfDropDownList>
                        </div>

                        <div>
                            <label class="e-form-label">@L["FirstName"]</label>
                            <SfTextBox @bind-Value="@NewDoctor.FirstName"
                                       Placeholder="@L["FirstName"]"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-form-label">@L["LastName"]</label>
                            <SfTextBox @bind-Value="@NewDoctor.LastName"
                                       Placeholder="@L["LastName"]"></SfTextBox>
                        </div>

                        <div>
                            <label class="e-form-label">@L["WorkingHours"]</label>
                            <SfTextBox @bind-Value="@NewDoctor.WorkingHours"
                                       Placeholder="@L["WorkingHours"]" Type="InputType.Number"></SfTextBox>
                        </div>

                        <div>
                            <label class="e-form-label">@L["Username"]</label>
                            <SfTextBox @bind-Value="@NewDoctor.User.UserName"
                                       Placeholder="@L["Username"]"></SfTextBox>
                        </div>

                        <div>
                            <label class="e-form-label">@L["Email"]</label>
                            <SfTextBox @bind-Value="@NewDoctor.User.Email"
                                       Placeholder="@L["Email"]" Type="InputType.Email"></SfTextBox>
                        </div>

                        <div>
                            <label class="e-form-label">@L["Password"]</label>
                            <SfTextBox @bind-Value="@NewDoctor.User.Password"
                                       Placeholder="@L["Password"]" Type="InputType.Password"></SfTextBox>
                        </div>

                    </div>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@(() => Dialog.HideAsync())">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>

        </Content>
    </DialogTemplates>
</SfDialog>


@code {

    [Parameter] public EventCallback<DoctorDto> DoctorCreatedAsync { get; set; }

    private SfDialog Dialog { get; set; } = null!;

    private DoctorCreateDto NewDoctor { get; set; } = new();

    private IEnumerable<DepartmentDto> DepartmentList { get; set; } = [];
    private IEnumerable<TitleDto> TitleList { get; set; } = [];
    private IEnumerable<HospitalDto> HospitalList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        SetDefaultValuesForDialog();
        await GetDepartmentsAsync();
        await GetTitlesAsync();
        await GetHospitalsAsync();
    }

    private async Task GetDepartmentsAsync()
    {
        //todo:lookup
        var result = await DepartmentsAppService.GetListAsync(new GetDepartmentsInput());
        DepartmentList = result.Items;
    }

    private async Task GetTitlesAsync()
    {
        //todo:lookup
        var result = await TitleAppService.GetListAsync(new GetTitlesInput());
        TitleList = result.Items;
    }

    private async Task GetHospitalsAsync()
    {
        //todo:lookup
        var result = await HospitalsAppService.GetListAsync(new GetHospitalsInput());
        HospitalList = result.Items;
    }

    private async Task OnSaveClickAsync()
    {
        try
        {
            var doctor = await DoctorAppService.CreateAsync(NewDoctor);
            await DoctorCreatedAsync.InvokeAsync(doctor);
            await HideAsync();
        }
        catch (Exception ex)
        {
            await HandleErrorAsync(ex);
        }
    }

    public async Task ShowAsync()
    {
        SetDefaultValuesForDialog();
        await Dialog.ShowAsync();
    }

    public async Task HideAsync()
    {
        SetDefaultValuesForDialog();
        await Dialog.HideAsync();
    }

    private void SetDefaultValuesForDialog() => NewDoctor = new DoctorCreateDto();
}