@using Pusula.Training.HealthCare.Appointments

@if (Appointments != null && Appointments.Any())
{
    <div class="patient-appointment-list d-flex gap-2 p-2">
        @foreach (var appointment in Appointments)
        {
            <div
                class="patient-appointment-list-item border-1 border-grey-300 border-r-6p w-50 fs-13p p-8p d-flex flex-column">
                <span class="fw-700 color-blue-500">@appointment.AppointmentType.Name</span>
                <div class="fw-700 d-flex gap-1">
                    <span>@appointment.Doctor.FullName</span>
                    <span>@appointment.Appointment.StartTime.ToString("dd.MM.yyyy hh:mm") - @appointment.Appointment.EndTime.ToString("hh:mm")</span>
                </div>
                <span>@appointment.Department.Name</span>
            </div>
        }
    </div>
}

@code {
    [Parameter] public IReadOnlyList<AppointmentWithNavigationPropertiesDto>? Appointments { get; set; }
}