@using Pusula.Training.HealthCare.Addresses

@if (Addresses != null && Addresses.Any())
{
    <div class="patient-address-list">
        @foreach (var address in Addresses)
        {
            <div class="patient-address-list-item">
                <span class="fw-700">@address.AddressTitle</span>
                <p class="m-0">@address.AddressLine @address.District.Name @address.District.City.Name / @address.District.City.Country.Name</p>
            </div>
        }
    </div>
}

@code {
    [Parameter] public IEnumerable<AddressDto>? Addresses { get; set; }
}