@using Pusula.Training.HealthCare.Cities
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DataForm
@using Blazored.FluentValidation
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@inherits HealthCareComponentBase


<SfDialog @ref="Dialog" Target="#target" Width="500px" IsModal ShowCloseIcon Visible="false">
    <DialogTemplates>
        <Header>@L["NewCity"]</Header>
        <Content>
            <SfDataForm ID="NewCityForm"
                        EditContext="@NewCityEditContext"
                        ButtonsAlignment="FormButtonsAlignment.Right"
                        OnValidSubmit="@OnSaveClickAsync"
                        ValidationDisplayMode="FormValidationDisplay.Tooltip">
                <FormValidator>
                    <FluentValidationValidator Validator="@NewCityValidator"></FluentValidationValidator>
                </FormValidator>
                <FormTemplate>
                    <div class="d-flex flex-column gap-2">
                        <SfTextBox @bind-Value="@NewCity.Name"
                                   Placeholder="@L["City"]" FloatLabelType="FloatLabelType.Always"></SfTextBox>                                   

                    </div>
                </FormTemplate>
                <FormButtons>
                    <SfButton type="button" CssClass="e-outline"
                              OnClick="@(() => Dialog.HideAsync())">@L["Cancel"]</SfButton>
                    <SfButton type="submit" IsPrimary>@L["Save"]</SfButton>
                </FormButtons>
            </SfDataForm>

        </Content>
    </DialogTemplates>
</SfDialog>

@code {

    [Parameter] public EventCallback<CityCreateDto> OnValidSaveAsync { get; set; }

    private SfDialog Dialog { get; set; } = null!;

    private EditContext NewCityEditContext { get; set; } = null!;

    private CityCreateDto NewCity { get; set; } = new();

    private CityCreateDtoValidator NewCityValidator { get; set; } = null!;

    private async Task OnSaveClickAsync(EditContext context)
    {
        await OnValidSaveAsync.InvokeAsync(NewCity);
        await HideAsync();
    }

    public async Task ShowAsync()
    {
        NewCityEditContext = new EditContext(NewCity);       
        await Dialog.ShowAsync();
    }

    public async Task HideAsync()
    {
        NewCity = new CityCreateDto();
        await Dialog.HideAsync();
    }

    
}
